<div class="col-md-12 col-lg-12 col-xl-12 ml-auto mr-auto" stylex="min-width: 400px">
    <div class="card" stylex="width:400px">
        <ul class="nav justify-content-center" role="tablist" data-background-color="orange">
            <li class="nav-item" style="padding:8px">
                <i class="now-ui-icons business_bulb-63"></i> &nbsp;<strong>{{.Get 0}}</strong>                
            </li>            
        </ul>
        <div class="card-body">
        
            {{ .Inner | markdownify }}        

        </div>
    </div>
</div>
