
<p><strong>Windguru Forecast</strong></p>
<div style="width:800px;">
<script id="wg_fwdg_47887_3_1570540531526">
    (function (window, document) {
        var loader = function () {
            var arg = ["s=47887", "m=3", "uid=wg_fwdg_47887_3_1570540531526", "wj=knots", "tj=c", "odh=0", "doh=24", "fhours=96", "vt=forecasts", "lng=en",
                "p=WINDSPD,GUST,SMER,TMP,WCHILL,APCPs,RATING"];
            var script = document.createElement("script");
            var tag = document.getElementsByTagName("script")[0];
            script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
            tag.parentNode.insertBefore(script, tag);
        };
        window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
    })(window, document);
</script>
</div>
<br>